Repository tiangolo/uwsgi-nginx-flask-docker, pull requests merged in 2024-03, with the labels that each got.

#345 🔥 Remove Alpine support
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  README.md
  docker-images/entrypoint.sh
  docker-images/python3.8-alpine.dockerfile
  pyproject.toml
  scripts/process_all.py
Labels: refactor

#346 📝 Update test badge in `README.md`
  README.md
Labels: docs

#347 ✨ Add support for multiarch builds, including ARM (e.g. Mac M1)
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  scripts/build-push-all.sh
  scripts/build-push.sh
  scripts/build.sh
  scripts/docker-login.sh
  scripts/test-all.sh
  scripts/test.sh
Labels: feature

#348 🔧 Update `latest-changes.yml`
  .github/workflows/latest-changes.yml
Labels: internal

#354 🔧 Add GitHub templates for discussions and issues, and security policy
  .github/DISCUSSION_TEMPLATE/questions.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/privileged.yml
  SECURITY.md
Labels: internal
